<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="europlusApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="europlusApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="europlusApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="europlusApp" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Europlus - Sistema de Pagamentos</title>
    <meta name="description" content="">
    <meta name="author" content="<Lamarques Consutoria Integrada> lamarques@lamarques.com.br">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="/bower_components/html5-boilerplate/dist/css/main.css">
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/bower_components/bootstrap/dist/css/bootstrap-reboot.min.css" rel="stylesheet">
    <link href="/bower_components/bootstrap/dist/css/bootstrap-grid.min.css" rel="stylesheet">
    <link href="/bower_components/font-awesome/web-fonts-with-css/css/fontawesome-all.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link rel="icon" href="/favicon.ico">
    <script src="/bower_components/html5-boilerplate/dist/js/vendor/modernizr-3.5.0.min.js"></script>
</head>
<body>
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<nav class="navbar navbar-expand-lg navbar-light bg-euro">
    <a class="navbar-brand" href="#">
        <img src="/img/logo.png"> Sistema de pagamentos
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#!/pedidos">Pedidos</a>
            </li>
        </ul>
        <ul>
        </ul>
    </div>
</nav>
{% block body %}{% endblock %}
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bower_components/angular/angular.js"></script>
<script src="/bower_components/angular-route/angular-route.js"></script>
<script src="/app.js"></script>
<script src="/pedidos/pedidos.js"></script>
</body>
</html>
